body
{
	width: 150ex !important;
	max-width: 150ex;
	margin: auto;
}

section#introduction
{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;

	height: 20rem;
	background: linear-gradient(159deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3) 51%, rgba(255, 255, 255, 0.2) 100%);
	border: 0.10rem solid rgba(255, 255, 80, 1);
	border: 0.10rem solid rgba(0, 0, 0, 1.5);
	border-radius: 0.33rem;

	box-shadow: 
		inset 0rem 0.33rem 0.5rem 0.5rem rgba(0, 0, 0, 0.23),
		0.65rem 0.65rem 1.33rem rgba(255, 135, 0, 0.5),
		0.65rem -0.65rem 1.33rem rgba(255, 135, 0, 0.5),
		-0.65rem 0.65rem 1.33rem rgba(255, 135, 0, 0.5),
		-0.65rem -0.65rem 1.33rem rgba(255, 135, 0, 0.5);

	padding: 3rem 2rem;
	margin: 1rem;
	margin-top: 2rem;
}

section#introduction > header
{
	text-align: center;
	font-size: 5rem;
}

section#introduction > p
{
	text-align: center;
	font-size: 1.67rem;
	margin-top: 1rem;
}


/**************************************/
/**            Register              **/
/**************************************/

form#register > fieldset
{
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;

	width: 33.3%;
	margin: 1rem;
}

form#register button
{
	width: 100%;
}
form#register > fieldset:nth-child(1) > legend:before { content: '1'; }
form#register > fieldset:nth-child(2) > legend:before { content: '2'; }
form#register > fieldset:nth-child(3) > legend:before { content: '3'; }

form#register > fieldset > legend:before
{
	position: absolute;
	top: -1.70rem;
	left: -1.10rem;

	display: inline-block;
	box-sizing: border-box;

	width: 2.0rem;
	height: 2.0rem;
	line-height: 1.75rem;
	text-align: center;
	border: 0.15rem solid rgba(255, 255, 255, 1);
	box-shadow: 0.05rem 0.15rem 0.25rem rgba(0, 0, 0, 0.31);
	border-radius: 999rem;
	background-color: rgb(255, 153, 0);
	font-weight: bold;
	color: white;
}

form#register > fieldset > label:last-child { align-self: flex-start; }

form#register > fieldset > label > span:first-child
{
	font-style: italic;
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.65);
	padding-left: 0.66rem;
}

input#alias_name
{
	text-align: right;
	padding-right: 10.66ex;
}
span#alias_expected_height
{
	position: absolute;
	bottom: 0.025rem;
	right: 0;

	width: 11ex;
	color: rgba(0, 0, 0, 0.50);
	font-family: monospace;
	font-size: 1rem;
	line-height: 1rem;
	padding: 0.25rem;
	padding-top: 0.40rem;
}

textarea#alias_paycode
{
	padding: 0.5rem;
	font-size: 0.95rem;
	height: 5.25em;
	overflow: hidden;
}

ul
{
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-between;
	list-style-type: none;
}

li
{
	padding-right: 1ex;
	border-right: 0.05rem solid rgba(0, 0, 0, 0.15);
}

li span
{
	display: block;
	word-break: break-all;
	font-family: monospace;
}

li span:first-child
{
	color: rgba(0, 0, 0, 0.44);
}

li:nth-child(4),
li:nth-child(5),
li:nth-child(6)
{
	width: 100%;
	padding-top: 0.40rem;
	padding-right: 0;
	border-right: 0;
}

li:nth-child(4)
{
	width: auto;
	padding-top: 0;
}

/**************************************/
/**            Lookup                **/
/**************************************/

form#lookup > fieldset
{
	width: 100%;
	margin: 1rem;
}

form#lookup > fieldset > table
{
	width: 100%;
}

form#lookup > fieldset > table > thead > tr > th
{
	text-align: left;
	border-bottom: 0.05rem solid white;
}

.no_result
{
	font-style: italic;
	text-align: center;
	padding: 2rem;
}
