body
{
	dislay: block;
	width: 100%;
}

body > section
{
	display: block;
	width: 100%;
	margin: auto;
	padding: 2rem 0;

	border-bottom: 0.10rem solid rgba(255, 255, 255, 0.09);
	box-shadow: inset 0 0.25rem 0.5rem rgba(0, 0, 0, 0.13),
				inset 0 -0.10rem 0 0 rgba(0, 0, 0, 0.217);
}

section > div,
section > form
{
	display: block;
	width: 150ex !important;
	margin: auto;
}

section#introduction > div
{
	background: url(../img/logo.png);
	background-size: 22rem;
	background-repeat: no-repeat;
	background-position: 95%;
	padding-left: 1rem;
	padding-right: 24rem;
}

section#introduction
{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;

	width: 100% !important;
	height: 26rem;
	background-image: linear-gradient(-208deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3) 51%, rgba(255, 255, 255, 0.1) 100%);

	padding: 3rem 2rem;
	padding-top: 6rem;
}

section#introduction > div > header
{
	font-weight: bold;
	text-align: left;
	font-size: 4rem;
	text-shadow: 0.05rem 0.05rem 0.1rem white;
}

section#introduction > div > p
{
	text-align: left;
	font-size: 1.37rem;
	padding-right: 1rem;
	margin-top: 0.5rem;
	color: rgba(0, 0, 0, 0.77);
}

section#introduction > div > p:last-child
{
	margin-top: 1rem;
}

section#introduction > div > p > b
{
	font-size: 1.5rem;
	border-bottom: 0.1rem dashed rgba(0, 0, 0, 0.35);
}


/**************************************/
/**            Navigation            **/
/**************************************/

nav#navigation
{
	position: fixed;

	top: 0px;
	left: 0px;
	width: 100%;
	height: 5.25rem;
	padding: 0;

	transition: height 0.30s;

	background-color: rgb(32, 64, 48);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.1) 95%, rgba(255, 255, 255, 0.2) 100%);

	border-bottom: 0.10rem solid rgba(160, 224, 160, 1.00);
	box-shadow: 0 0.10rem 0.5rem rgba(0, 0, 0, 1.21);
	text-align: center;
	z-index: 9;
}

nav#navigation > div
{
	display: flex;
	align-content: space-around;
	justify-content: space-between;
	width: 150ex;
	height: 100%;
	margin: auto;
}

nav#navigation > div > a
{
	display: flex;
	flex-direction: column;
	color: rgb(160, 224, 160);
	text-decoration: none;
	font-weight: normal;
	padding: 0.5rem 1.5rem;
}

nav#navigation > div > a.shown
{
	color: white;
	text-shadow: 0 0 0.25rem rgb(75, 200, 70), 0 0 0.75rem rgba(255, 255, 255, 0.50);
}

nav#navigation > div > a > span
{
	font-size: 1.25rem;
}

nav#navigation > div > a:hover
{
	color: rgba(255, 153, 0, 1);
	text-shadow: 0px 0px 2px black, 0px 0px 3px green, 0px 0px 2px green;
}

nav#navigation > div > a > i
{
	display: inline-block;

	font-size: 1.5rem;
	padding: 0.5rem;
	width: 100%;
	height: 2.5rem;

	transition: width 0.30s, height 0.30s;
	margin: auto;
}

body.scrolled > nav#navigation
{
	height: 2.5rem !important;
}
body.scrolled > nav#navigation > div > a
{
	flex-direction: row;
}
body.scrolled > nav#navigation > div > a > i
{
	padding: 0 !important;
	text-align: left;
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin-right: 0.5rem;
}

/**************************************/
/**            Register              **/
/**************************************/

section#registration > form
{
	display: flex;
}

section#registration > form > fieldset
{
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;

	flex: 1;
	margin: 1rem;
}

section#registration > form button
{
	width: 100%;
}
section#registration > form > fieldset:nth-child(1) > legend:before { content: '1'; }
section#registration > form > fieldset:nth-child(2) > legend:before { content: '2'; }
section#registration > form > fieldset:nth-child(3) > legend:before { content: '3'; }

section#registration > form > fieldset > legend:before
{
	position: absolute;
	top: -1.70rem;
	left: -1.10rem;

	display: inline-block;
	box-sizing: border-box;

	width: 2.0rem;
	height: 2.0rem;
	line-height: 1.75rem;
	text-align: center;
	border: 0.15rem solid rgba(255, 255, 255, 1);
	box-shadow: 0.05rem 0.15rem 0.25rem rgba(0, 0, 0, 0.31);
	border-radius: 999rem;
	background-color: rgb(255, 153, 0);
	font-weight: bold;
	color: white;
}

section#registration > form > fieldset > label:last-child { align-self: flex-start; }

section#registration > form > fieldset > label > span:first-child
{
	font-style: italic;
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.65);
	padding-left: 0.66rem;
}

input#alias_name
{
	text-align: right;
	padding-right: 10.66ex;
}
span#alias_expected_height
{
	position: absolute;
	bottom: 0.025rem;
	right: 0;

	width: 11ex;
	color: rgba(0, 0, 0, 0.50);
	font-family: 'Roboto mono';
	font-size: 1rem;
	line-height: 1rem;
	padding: 0.25rem;
	padding-top: 0.40rem;
}

textarea#alias_paycode
{
	padding: 0.5rem;
	font-size: 0.95rem;
	height: 5.25em;
	overflow: hidden;
}

ul
{
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-between;
	list-style-type: none;
}

li
{
	padding-right: 1ex;
	border-right: 0.05rem solid rgba(0, 0, 0, 0.15);
}

li span
{
	display: block;
	word-break: break-all;
	font-family: monospace;
}

li span:first-child
{
	color: rgba(0, 0, 0, 0.44);
}

li:nth-child(5) > span:last-child { width: calc(30em * 0.73); }

li:nth-child(4),
li:nth-child(5),
li:nth-child(6)
{
	width: 100%;
	padding-top: 0.40rem;
	padding-right: 0;
	border-right: 0;
}

li:nth-child(4)
{
	width: auto;
	padding-top: 0;
}

/**************************************/
/**            Lookup                **/
/**************************************/

section#lookup > form > fieldset
{
	flex: 1;
	margin: 1rem;
}

section#lookup > form > fieldset > table
{
	width: 100%;
}

section#lookup > form > fieldset > table > thead > tr > th
{
	text-align: left;
	border-bottom: 0.05rem solid white;
}

.no_result
{
	font-style: italic;
	text-align: center;
	padding: 2rem;
}

/**************************************/
/**            Testimonies           **/
/**************************************/

section#testimonies > div
{
	padding: 1rem;
}

section#testimonies > div > ul > li
{
	width: calc(50% - 0.5rem);
	margin-right: 1rem;
	background-color: white;
	border-radius: 2rem;
	border: 0.05rem solid rgba(0, 0, 0, 0.25);
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.21);
	padding: 1rem;
	margin-bottom: 1rem;
}

section#testimonies > div > ul > li:nth-child(odd)
{
	margin-right: 0;
}

section#testimonies > div > ul > li:nth-child(1),
section#testimonies > div > ul > li:nth-child(2),
section#testimonies > div > ul > li:nth-child(3)
{
	width: calc(33% - 0.5rem);
	margin-right: 1rem;
	display: inline-block;
	background-color: white;
	border-radius: 2rem;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
section#testimonies > div > ul > li:nth-child(4)
{
	border-radius: 0.5rem;
}
section#testimonies > div > ul > li:nth-child(5)
{
	border-radius: 0.5rem;
}
section#testimonies > div > ul > li:nth-child(6)
{
	border-radius: 0.5rem;
	border-bottom-left-radius: 2rem;
}
section#testimonies > div > ul > li:nth-child(7)
{
	border-radius: 0.5rem;
	border-bottom-right-radius: 2rem;
}
section#testimonies > div > ul > li:nth-child(3)
{
	margin-right: 0;
}
section#testimonies > div > ul > li > div
{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

section#testimonies > div > ul > li > img
{
	display: inline-block;
	vertical-align: middle;
	width: 7rem;
	border-radius: 1rem;
}
section#testimonies > div > ul > li:nth-child(1) > img,
section#testimonies > div > ul > li:nth-child(2) > img,
section#testimonies > div > ul > li:nth-child(3) > img
{
	width: 100%;
	border-radius: 1rem;
}
section#testimonies > div > ul > li > div > span:nth-child(1)
{
	text-align: center;
	margin-top: 0.5rem;
	font-size: 1.33rem;
	color: black;
}

section#testimonies > div > ul > li > div > span:nth-child(2)
{
	text-align: left;
	font-size: 0.80rem;
	font-weight: bold;
	font-style: italic;
	color: rgba(0, 0, 0, 0.65);
	margin-bottom: 1rem;
}
section#testimonies > div > ul > li:nth-child(1) > div > span:nth-child(2),
section#testimonies > div > ul > li:nth-child(2) > div > span:nth-child(2),
section#testimonies > div > ul > li:nth-child(3) > div > span:nth-child(2)
{
	text-align: center;
}

section#testimonies > div > ul > li > div > span:nth-child(3):before,
section#testimonies > div > ul > li > div > span:nth-child(3):after
{
	content: '"';
}

/**************************************/
/**            ??? **/
/**************************************/

section#wallets,
section#testimonies,
section#links
{
	height: 50rem;
}

